* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #000;
    display: flex;
}

.backend__checkbox {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(../img/solstice-hannan--yhBOqHOr0c-unsplash.jpg), linear-gradient(#d31, #468 70%);
    background-size: contain;
    background-position: center;

    filter: brightness(40%) blur(5px);
    box-shadow: inset 0 0 100px #000;

    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);

    order: 10;
}

.backend__checkbox__ani {
    transform: translateY(100%);
}

#checkbox {
    position: absolute;
    width: 25%;
    height: 10vh;
    background: linear-gradient(90deg, #faa, #4af);
    border-radius: 20px;
    top: calc(50% - 5vh);
    left: calc(50% - 12.5%);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;

    transition: all 1.9s cubic-bezier(0.215, 0.610, 0.355, 1);

    box-shadow: inset 0 0 20px,
        0 0 10px #0000009f;

    /* overflow: hidden; */
}

#checkbox:hover {
    box-shadow: inset 0 0 20px,
        0 0 30px #0383fbe0;
}

#checkbox:active {
    transform: scale(.7);
}

.checkbox {
    cursor: pointer;
    appearance: none;
    width: 33%;
    height: 100%;
    position: relative;
    left: 0;
    background: url(../img/flecha-alt-derecha.svg), #fff;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 25%;

    box-shadow: inset 0 0 20px, 0 0 10px rgba(0, 0, 0, 0.7);

    transition: all .6s ease-in-out;
    order: 1;

}

.checkbox:hover {
    box-shadow: inset 0 0 20px, 0 0 40px rgba(0, 0, 0, 1);

}

.checkbox__contains {
    transform: translate(1000%) scaleX(.8);
    opacity: 0;
}


.checkbox__contains2 {
    transform: translate(-1000%) scaleX(.8);
    opacity: 0;
}

.checkbox__checked {
    transform: rotate(180deg);
    left: calc(100% - 33%);
}

.checkbox__final {
    display: none;
}

.title__checkbox {
    right: 10px;
    margin: 0;
    position: relative;
    width: 30%;
    text-align: center;
    font-family: sans-serif;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.title__checkbox__ani {
    right: calc(70% - 10px);
    transform: rotate(360deg);
}


.game__over {
    width: 100%;
    height: 100vh;

    background: url(../img/fondo-to-game-over.svg), linear-gradient(90deg, #a3b, #fa2 60%);
    color: #fff;

    position: absolute;
    text-align: center;
    top: -200%;
    font-size: 10rem;
    font-family: cursive;

    transition: all 1s;
    z-index: 100;

}

.buttom {
    position: relative;
    background-image: linear-gradient(90deg, #fe0752 2%, #0385fb 97%);
    border-radius: 10px;
    box-shadow: 10px 5px 10px #000000af;
    width: 40%;
    margin: 40px auto;
    height: auto;
    text-align: center;
    font-size: 7rem;

    cursor: pointer;
}

.game__over__finish {
    top: 0;
}


.win {
    font-size: 7rem;
}

.container {
    margin: 10px auto;
    width: calc(100% - 20px);
    height: calc(100vh - 20px);

    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: 100px;
    background-color: #000;
    gap: 10px;


}

.block {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background: #777;
    background-position: center;
    background-size: 35%;
    background-repeat: no-repeat;
    font-size: 10rem;


    font-family: sans-serif;

    cursor: pointer;
}

.block:hover {
    box-shadow: inset -15px -15px 20px #999,
        inset 15px 15px 20px #333;
}

.block:active {
    box-shadow: inset -15px -15px 20px #666,
        inset 15px 15px 20px #000;
}

@media (max-width: 768px) {

    #checkbox {
        width: 60%;
        left: calc(50% - 30%);
    }

    .checkbox {
        width: 20%;
    }

    .checkbox__checked {
        left: calc(100% - 20%);
    }

    .title__checkbox {
        width: 45%;
    }

    .title__checkbox__ani {
        right: 60%;
    }

    .block {
        font-size: 5rem;
        font-family: sans-serif;
    }

    .game__over {
        font-size: 5rem;
        font-family: sans-serif;

    }

    .buttom {
        font-size: 3rem;
        font-family: sans-serif;

    }

    .win {
        font-size: 3rem;
        font-family: sans-serif;

    }
}

@media (max-width: 400px) {
    #checkbox {
        width: 80%;
        left: calc(50% - 40%);
    }

    .checkbox {
        width: 25%;
    }


    .checkbox__checked {
        left: calc(100% - 25%);
    }

}